In [1]:
impo

In [22]:
# Pirmas Python kodas
'''
Labas
Rytas programa
'''

valandos=11
if valandos<12:
    print("labas rytas")
else:
    print("Labas vakaras")
    print("Labos nakties")
print("pasisveikinimas")

labas rytas
pasisveikinimas

In [28]:
vardas=input('Iveskite varda')
n=input("Kiek Jums metu's: ")
rezultatas="Sveiki " + vardas + ". Jums yra " + n +" m."
print(rezultatas)

Iveskite varda Saulius
Kiek Jums metu's:  52

Sveiki Saulius. Jums yra 52 m.

In [27]:
rezultatas

'Sveiki Saulius. Jums yra 52 m.'

In [29]:
n+15

TypeError: can only concatenate str (not "int") to str

In [30]:
type(n)

str

In [31]:
int(n)+15

67

In [32]:
j=True

In [33]:
type(j)

bool

In [38]:
vidurkiai=[5,6,5,8,5,6]

In [39]:
vidurkiai[3]+vidurkiai[1]

14

In [41]:
asmuo={"vardas":"Jonas",
       "pavarde":"Antanaitis",
       "amzius":25,
       "vedes":True
       }

In [42]:
asmuo["amzius"]

25

In [13]:
# KMI indekso skaiciavimas
ugis=input("Iveskite savo ugi metrais: ")
mase=input("Iveskite savo svori kilogramais: ")
kmi=float(mase)/(float(ugis)**2)

if kmi<16:
    print("Reikia labai susirpinti.")
elif kmi<17:
    print("Koreguokite mitybos iprocius.")
elif kmi<18.5:
    print("Truputi koreguokite mitybos iprocius")
else:
    print("negaliu psakyti")

Iveskite savo ugi metrais:  1.78
Iveskite savo svori kilogramais:  40

Reikia labai susirpinti.

In [19]:
def sudeda_du_skaicius(a,b):
    suma=(a+b)**2
    return suma
    
rez=sudeda_du_skaicius(5,80)
print(rez)

7225

7225

In [20]:
# KMI indekso skaiciavimas

def kmi(mase, ugis):
    kmi=float(mase)/(float(ugis)**2)
    return kmi

def atsakymai(kmi):
    # isves rezultata
    if kmi<16:
        print("Reikia labai susirpinti.")
    elif kmi<17:
        print("Koreguokite mitybos iprocius.")
    elif kmi<18.5:
        print("Truputi koreguokite mitybos iprocius")
    else:
        print("negaliu psakyti")

In [22]:
ugis=input("Iveskite savo ugi metrais: ")
mase=input("Iveskite savo svori kilogramais: ")
kmi_rezultatas=kmi(ugis, mase)
atsakymai(kmi_rezultatas)

Iveskite savo ugi metrais:  1.78
Iveskite savo svori kilogramais:  40

Reikia labai susirpinti.

In [ ]:
help()

Welcome to Python 3.11's help utility!

If this is your first time using Python, you should definitely check out
the tutorial on the internet at https://docs.python.org/3.11/tutorial/.

Enter the name of any module, keyword, or topic to get help on writing
Python programs and using Python modules.  To quit this help utility and
return to the interpreter, just type "quit".

To get a list of available modules, keywords, symbols, or topics, type
"modules", "keywords", "symbols", or "topics".  Each module also comes
with a one-line summary of what it does; to list the modules whose name
or summary contain a given string such as "spam", type "modules spam".

help>  pow

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [3]:
sk1=15
while sk1>=0:
    print(sk1*sk1)
    sk1=sk1-1

225
196
169
144
121
100
81
64
49
36
25
16
9
4
1
0

In [10]:
amzius=[5,2,5,4,65,8,5,8,8,5,8,5,8,5,85,8,5,8,25,25,25,25,66]

suma=0
for x in amzius:
    suma=suma+x

print(suma)

413

In [12]:
def ar_pirminis(sk):
    if sk<=1:
        return False
    if sk%2==0:
        return False
    return True

In [22]:
ar_pirminis(9)

True

In [21]:
n=int(input("Iki kokio skaiciaus norite matyti pirminius skaicius: "))

for x in range(2,n):
      if ar_pirminis(x)==True:
        print(f"{x}, ")

Iki kokio skaiciaus norite matyti pirminius skaicius:  15

3,
5,
7,
9,
11,
13,

In [26]:
kelias="C:\\Users\\sprei\\OneDrive\\01-Dideli mokymai\\VMI mokymai\\Python kodai\\data\\vardai.txt"
with open(kelias, "r", encoding="utf-8") as failas:
    tekstas=failas.read()
print(tekstas)

with open(kelias, "a", encoding="utf-8") as failas:
    tekstas=failas.write("\n23. Saulius")

with open(kelias, "r", encoding="utf-8") as failas:
    tekstas=failas.read()
print(tekstas)

1. Jonas
2. Ieva
3. Marius
4. Simona
5. Tomas
6. Agnė
7. Kęstutis
8. Laura
9. Darius
10. Greta
11. Paulius
12. Justė
13. Andrius
14. Kotryna
15. Gediminas
16. Monika
17. Vytautas
18. Rūta
19. Martynas
20. Jurgita
21. Antanas23. Saulius
23. Saulius
1. Jonas
2. Ieva
3. Marius
4. Simona
5. Tomas
6. Agnė
7. Kęstutis
8. Laura
9. Darius
10. Greta
11. Paulius
12. Justė
13. Andrius
14. Kotryna
15. Gediminas
16. Monika
17. Vytautas
18. Rūta
19. Martynas
20. Jurgita
21. Antanas23. Saulius
23. Saulius
23. Saulius

In [33]:
import pandas as pd

In [28]:
import json

In [31]:
import seaborn

In [44]:
df=pd.rea2d_csv("https://raw.githubusercontent.com/vilnius/gyventojai/master/registered_people_n_streets.csv", sep=",", encoding="utf-8")

AttributeError: module 'pandas' has no attribute 'rea2d_csv'

In [43]:
df['LYTIS'].head(10)

0    V
1    M
2    V
3    V
4    V
5    V
6    V
7    M
8    M
9    M
Name: LYTIS, dtype: object